#set($greet = "hello")
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Velocity Page</title>
</head>
<body>
    <p>$!{greet} $!{fullName}</p>
    <p>My another name is $!{anotherName}</p>
</body>
</html>